<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <!-- <span style="margin-left: 20px;">

    <input matInput type="search" placeholder="Search..." [(ngModel)]="searchStr" />
    <button type="button" class="btn btn-primary" (click)="searchMovies(searchStr)">Search </button>
  </span> -->
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="search" placeholder="Search" class="search-input" [(ngModel)]="searchStr"
      (keydown.enter)="searchMovies($event)">
  </mat-form-field>
  <!-- <div class="spacer"></div> -->
</div>
<!-- <div class="container">
  <div class="row">
    <ng-container *ngFor="let movie of movies">
      <span class="col">

        <mat-card class="example-card" >
          <mat-card-header>
            
            <mat-card-title>{{movie.title}}  <span *ngIf="movie.imdbRating"><mat-chip-list aria-orientation="horizontal"><mat-chip>{{movie.imdbRating}}</mat-chip></mat-chip-list></span>
            </mat-card-title>
            <mat-card-subtitle>{{movie.genres.join(", ")}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="movie.posterurl" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              {{movie.storyline}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </span>
    </ng-container>
    
  </div>
</div> -->
<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div class="content" role="main">

  <ng-container *ngFor="let movie of movies">


    <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>{{movie.title}} <span *ngIf="movie.imdbRating">
            <mat-chip-list aria-orientation="horizontal">
              <mat-chip>{{movie.imdbRating}}</mat-chip>
            </mat-chip-list>
          </span>
        </mat-card-title>
        <mat-card-subtitle>{{movie.genres.join(", ")}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="movie.posterurl" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{movie.storyline}}
        </p>
      </mat-card-content>
      <mat-card-actions>

        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </ng-container>
</div>